.feedback{
    background: linear-gradient(to right top, #6bd1cb, #63d6c5, #60dbbc, #65dfb0, #70e3a1, #80e695, #92e888, #a4ea7b, #baeb71, #d0eb69, #e5eb63, #fbea5f);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .24);
    margin: 20px auto;
    padding: 30px;
    width: 500px;
}